python/__pycache__
jacobian/*.csv
jacobian/*.nc
prior/wetlands/*.nc
prior/wetlands/*.csv
prior/canada/*.nc
prior/canada/new/*.nc
prior/canada/old/*.nc
observations/*.nc
observations/*.csv 
plots/*.png
plots/*.gif
python/.DS_Store
*sublime*
