python/__pycache__

# sublme settings
*sublime*

# slurm files
**slurm*

# log files
**.log

# Netcdf files
**.nc
**.nc4

# csvs
**.csv

# images
**.png
**.gif

# pkl files
**.pkl

# DS store
**.DS_Store

# planeflight files
prior/plane_logs/*

# Everything in scratch
scratch/